{% load static %}
<!DOCTYPE html>

<html lang="en">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    
<head>
   <meta charset="UTF-8">
   <title>你好</title>
   
   <button class="fluid ui button">
    <i class="paper plane icon"></i>
    <a href="D:\360MoveData\Users\Administrator\Desktop\web_pro\vote\static\广告分级.xlsx" download="广告分级.xlsx">点击下载</a>
  </button>
   